.icon-boxes {
  justify-content: space-around;
}

.icon-box {
  text-align: center;
  transition: all 0.3s ease;
}

.icon-box i {
  font-size: 3.3em; /* Kích thước biểu tượng */
  margin-bottom: 10px; /* Khoảng cách giữa biểu tượng và văn bản */
}

.icon-box:hover {
    transform: translateY(-7px); /* Di chuyển lên trên khi hover */
  }