.nav-ttcn li {
    margin-bottom: 3px;
}

.nav-ttcn li a {
    text-decoration: none;
    border-radius: 8px;
    display: block;
    padding: 10px;
    color: black;
}

.nav-ttcn li a:hover {
    background-color: slategray;
    color: white;
}